@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/*prevent the body from overflowing. This ensures that our parent grid container will retain full control of the entire browser viewport. There should be nothing outside of our parent*/
* {
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-weight: lighter;
}
body {
  margin: auto 0;
  width: 100%;
  /* background-color: #1E8F5E; */
  /* background-color: #3FBF7F; */
  background-color:  rgba(63, 191, 127, 0.71);
  /* margin-right:30px; */
  /* opacity: 0.71; */
  /* margin: 0px 0px 0px -4px; */
}
.bold-font{
  font-weight: 900;
}
/*hide any overflow to ensure nothing leaks outside of the .content element that would disturb the parent’s layout.*/
.content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  overflow-y: scroll;
  /* margin: 0px 0px 0px -4px; */
  /* margin-right:30px; */
}
.header-wrap {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 17%;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: #E0E0E0;
  /* background-color:  rgba(25, 76, 51, 0.1) */
  /* background-color: white; */
}
.headerTop {
  display: grid;
  /* align */
  /* align-content: start; */
  /* align-items: start; */
  grid-template-columns: 2fr 6fr;
  grid-template-columns: 1fr 4fr;
  /* grid-template-columns: 1fr 3fr; */
  grid-template-rows: auto;
  padding: 0px 0px 0px 20px;
}
.headerBottom {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(auto, 135px));
  grid-template-rows: auto;
  justify-items: end;
  list-style: none;
  font-size: 19px;
  /* width: 100%; */
  /* width:90vw; */
  padding: 0px 40px 0px 0px;
  margin-left:520px;
}
/* .headerBottom {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}
.headerBottom2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  list-style: none;
  font-size: 18px;
  width: 100%;
  padding: 0px 40px 0px 0px;
} */
.nav-list{
  display: grid;
  justify-items: center;
}
.nav-list > a, .dropdownLink2 {
  color: black;
}
/* Added Navbar dropdown */
.dropdownCont{
  display: grid;
  /* justify-content: center; */
  margin-left:90px;
  width:100%;
}
.dropdown-select {
  display: grid;
  grid-template-rows: auto;
  cursor: pointer;
  width:100%;
}
.dropdown {
  display: grid;
  position: fixed;
}
.dropdown-list {
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 120px));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  width: 115px;
  height:0px;
  padding: 10px 0px 20px 20px;
  margin: 0px 0px 0px 0px;
  border-radius:10px;
}
.dropdownLink2{
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: auto;
}
.dropdownLink2:hover .dropdown-list {
  opacity: 1;
  visibility: visible; 
  height:250px;
}
.dropdown-list__item {
  padding: 0px 0px 0px 0px;
  border-bottom: 0.1px solid black;
  color: #333333;
  font-size: 17px;
  display: grid;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
}
.homePage{
  display: grid;
  /* margin-right:20px; */
}
#welcome {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  /* margin-right:18px; */
  /* align-items: center; */
}
#welcome > h2 {
  font-size: 35px;
  /* text-align: center; */
  /* align-self: center; */
}
#welcomeMsg {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
}
#project-heading {
  display: grid;
  width: 70%;
}
#project-heading > h2{
  font-size:20px;
  /* font-weight: 100; */
}
.about {
  display: grid;
  justify-items: center;
  /* text-align: center; */
  /* margin-right:20px; */
  /* margin-top: -20px; */
  /* padding: 0px 30px 0px 30px; */
}
.about > img {
  object-fit: contain;
  /* margin-top: 40px; */
  width: 290px;
  height: 290px;
}
.about > p {
  font-size: 20px;
  width: 70%;
}
.contactPage{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  /* grid-gap:12px; */
  justify-items: center;
  justify-content: center;
  /* align-items: center; */
  width:70%;
}
.contactPage >h1{
  /* margin-top: -1px; */
}
.contactDesc{
  width:100%;
  font-size:20px;
  margin-top: -1px; 
  /* justify-self: center; */
}
.privacyNotice{
  font-size:20px;
}
.formDiv{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-top:25px;
  justify-content: center;
  align-content: center;
  width:80%;
  /* border: 1px solid;  */
}
.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  /* justify-self: center; */
  grid-gap:10px;
  border: 1px solid; 
  border-radius:7px;
  padding:20px 7px 7px 7px;
  /* background-color:#056B3B; */

  background-color:  rgba(63, 191, 127, 0.8);
  background-color:#95A69E;

  /* background-color:#3AB477; */
}
* input{

}
.doublebox{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap:22px;
}
.doublebox2{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items:center;
}
.doublebox2Messages{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-items: center;
  /* align-content:center; */
}
.doublebox2MessagesCont{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  /* grid-gap:5px; */
}
.singlebox {
  display: grid;
}
/* .singlebox > input, textarea {
  border-radius: 3px;
  outline: none;
  margin-bottom: 9px;
} */
.singlebox2{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.doublebox > input, .doublebox2 > input, .singlebox > input{
  height:25px;
  width:200px;
  /* width:100px; */
}
.doublebox > input, .doublebox2 > input, .singlebox > input, .singlebox2 > textarea {
  border-radius: 0px;
  outline: none;
}
.singlebox2 > textarea {
  height:86px;
}
.doublebox2Messages > label, .doublebox2MessagesCont > label, .singlebox2 > label{
  font-size:15px;
}
.submitcontactbutton {
  display: grid;
  align-self: center;
  justify-self: center;
  width:140px;
  height: 33px;
  border-radius: 200px;
  font-size: 20px;
  color: black;
  background-color: #BCBCBC;
  /* background-color: rgba(63, 191, 127, 0.71) */
  /* width:50%; */
}
.FAQPage{
  display: grid;
  justify-items: center;
  /* align-items: center; */
  align-items: center;
  /* align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center; */
  /* margin-left: -90px; */
  /* width:80%; */
}
.questionAnswerCont{
  display: grid;
  justify-items: center;
  /* width:90%; */
  width:100%;
}
.question{
  width:90%;
  font-size:23px;
  margin-top:-1px;
}
.answer{
  /* margin-left:160px;
  margin-right:100px; */
  font-size:20px;
  margin-top: -13px;
  width:80%;
}


.ratesPage{
  display: grid;
  align-items: center;
  justify-items: center;
}
.ratesPage > h2{
  margin-top: -1px;
}
.ratesContent{
  width: 70%;
  font-size: 20px;
}
footer {
  text-align: center;
  font-size: 16px;
  margin: 0px 10px 0px 10px;
}
#contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: start;
  align-items: end;
  width: 71.5%;
  padding: 0px 0px 0px 0px;
  padding-top:43px;
}
#connect-links {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto; 
  /* justify-items: center; */
  list-style: none;
  width: 100%;
  font-size: 20px;
  /* margin-right: 15px; */
}
#connect-links > li{
  margin-left: -30px; 
}
.servicesPage{
  display: grid;
  /* grid-template-columns: auto;
  grid-template-rows: auto auto auto; */
  /* grid-gap:3px; */
  justify-items: center;
  align-items: center;
  /* justify-content: center;
  align-content: center; */
  /* align-self: center;
  justify-self: center;   */
  width:100%;
  /* margin-right:34px; */
}
.servicesTop{
  /* text-align: center; */
  margin: 0px 70px 30px 79px;
  font-size:20px;
  width:70%;
}
.servicesSingleCont{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 17% auto;
  /* grid-gap:0px; */
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* border-bottom: 0.5px solid; */
  padding:0px 0px 12px 0px;
  width:100%;
  /* height:300px; */
  padding-bottom:33px
}
.servicesSingleCont > h2{
  /* padding-top:30px; */
  /* margin-bottom: -4px; */
  font-size:28px;
}
.servicesSingleCont2{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  /* align-content: center;
  justify-content: center; */
  /* grid-gap:17px; */
  align-items: center;
  justify-items: center;
  /* justify-items: center; */
  /* width:95%; */
  /* border: 1px solid; */
}
.servicesSingleImg{
  width: 500px;
  height:340px;
  border-radius: 6px;
  justify-self: end;
}
.servicesSingleAbout{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items:center;
  width:90%;
}
.servicesSingleAbout > h2{
  font-size:19px;
  width:85%;
  /* word-break: break-all;  */
  justify-self: start;
}



@media (max-width:1387px){
  .headerBottom {
    margin-left:400px;
    font-size: 17px;
  }
}
@media (max-width:1268px){
  .headerBottom {
    margin-left:315px;
  }
}
@media (max-width: 1180px) {
  .headerBottom {
    grid-template-columns: auto auto auto auto auto auto;
    /* grid-template-columns: repeat(auto-fit, minmax(auto, 155px)); */
    justify-items: center;
    width:100%;
    margin-left:0px;
  }
  .dropdownCont{
    margin-left:30px;
  }

}

@media (max-width: 1080px) {
  .servicesSingleImg{
    /* justify-self: center;
    align-self: center; */
    width: 335px;
    height:250px;
  }
  .servicesSingleCont > h2{
    /* padding-top:30px; */
    margin-bottom: -20px;
  }
  .servicesSingleCont2{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    /* justify-items: center;
    align-items: center; */
    /* align-content: center;
    justify-content: center; */
  }
  .servicesSingleAbout{
    justify-items: center;
    width:100%;
    /* width:85%; */
    /* align-content: center; */
    
  }
  .servicesSingleImg, .servicesSingleAbout > h2{
    justify-self: center;
    /* align-self: center; */
  }
  .servicesSingleAbout > h2{
    /* width:85%; */
    /* font-size:14px; */
  }
}

@media (max-width: 820px) {
  #project-heading, .about > p, .ratesContent, .servicesTop, .question {
    width: 85%;
    /* margin-right:20px; */
  }
  .contactDesc{
    width:95%;
  }
  #contact{
    width:100%;
    padding-right:4px
  }

  .headerBottom {
    grid-template-columns: repeat(auto-fill, minmax(auto, 120px));
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding-left:8px;
    font-size:15px;
    margin-left:0px;
  }
  .nav-list{
    /* display: grid; */
    /* justify-items: center; */
  }
}

@media (max-width: 740px) {
  .headerTop {
    /* padding: 0px 0px 0px 11px; */
  }
  .headerBottom {
    grid-template-columns: repeat(auto-fill, minmax(auto, 110px));
    font-size:13px;
  }
  .navlist {
  }
  .navlist > a{

  }
  .dropdownCont{
    margin-left:0px;
  }
  .dropdownLink2{
    grid-template-columns: 48px auto;
  }
}

@media (max-width: 680px) {
  .headerBottom {
    grid-template-columns: repeat(auto-fill, minmax(auto, 95px));
  }
}

@media (max-width: 575px) {
  .headerBottom {
    grid-template-columns: repeat(auto-fill, minmax(auto, 85px));
    font-size:13px;
  }
}

@media (max-width: 530px) {
  .headerBottom {
    grid-template-columns: repeat(auto-fill, minmax(auto, 75px));
    font-size:13px;
  }
  .contactPage{
    /* margin-right:48px; */
    /* align-self: center;
    justify-self: center; */
  }
  .formDiv{
    width:100%;
  }
  .contactDesc{
    font-size:16px;
  }
  .doublebox > input, .doublebox2 > input, .singlebox > input{
    width:145px;
  }
}

@media (max-width: 450px) {
  .headerBottom {
    grid-template-columns: repeat(auto-fill, minmax(auto, 60px));
    font-size:13px;
    /* justify-items: start; */
  }
}








.logoImg {
  display:grid;
  justify-self:end;
  cursor: pointer;
  /* width: 200px;
  height: 171px; */
  height: 171px;
  /* width:230px; */
  border-radius: 6px;
  /* margin-bottom:-8px; */
  width:100%;
  object-fit: contain;
}
.stockImg{
  background-image:url("./images/banner-pref.jpg");
  display:grid;
  justify-self:center;
  border-radius: 6px;
  background-size:100% 100%;
  width:94%;
  height:171px;
  /* object-fit: contain; */
}
@media(max-width: 1400px){
  .logoImg {
  }
  /* .stockImg{
    width: 1000px;
  } */
}
@media(max-width: 1100px){
  .logoImg {
  }
  /* .stockImg{
    width: 700px;
  } */
}
@media(max-width: 820px){
  /* .stockImg{
    width: 600px;
  }  */
}
@media(max-width: 768px){
}
@media (max-width: 720px) {
  .logoImg {
    /* width: 90px;
    height: 80px;
    margin-left:10px; */
  }
  /* .stockImg{
    width: 400px;
    justify-self:end;
  } */
  .servicesTop{
    /* text-align: center; */
    margin: 0px 20px 0px 28px;
    font-size:16px;
  }
}
@media (max-width: 650px) {
  .header-wrap {
    /* grid-template-rows: auto 8%; */
    /* height: 156px; */
    height:138.5px;
    /* align-items: start; */
    /* padding-bottom: -40px; */
  }
  .headerTop{
    /* align-items: start; */
    /* align-self: start; */
    margin-top: -25px;
  }
  .headerBottom {
    align-self: start;
    margin-top: -25px;
  }
  .logoImg{
    /* align-self: center; */
    /* align-self: start; */
  }
  .stockImg{
    /* width: 400px;
    justify-self:end; */
    /* justify-self: center; */
    align-self: center;
    height:120px;
  } 



  /* font sizes */
  /* #project-heading > h2{

  } */
  .about > p, #project-heading > h2, .ratesContent, .answer, .servicesSingleAbout > h2, .privacyNotice {
    font-size: 16px;
    /* align-self: center;
    justify-self: center; */
    /* align-items: center;
    justify-items: center; */
    /* margin-right:40px; */
  }
  #welcome > h2{
    font-size:26px;
  }
  .question {
    /* padding-right:20px; */
    font-size: 18px;
    margin-right:10px;
  }
  .answer{
    /* width:100%; */
    /* padding-right:25px; */
  }
  #connect-links{
    font-size:14.3px;
  }
}

@media (max-width: 575px) {
  .logoImg {
  }
  /* .stockImg{
    width: 380px;
  } */
}
@media (max-width: 530px) {
  .headerTop {
    padding: 0px 0px 0px 10px;
  }
  .logoImg {
    /* width: 80px;
    height: 75px; */
  }
  /* .stockImg{
    width: 300px;
  } */
  
}
@media(max-width: 501px){
  .logoImg {
    /* width: 75px;
    height: 75px;
    justify-self:start; */
  }
  /* .stockImg{
    width: 230px;
    margin-left:10px;
  } */

  .stockImg{
    height:99px;
  } 
}
